@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family:  -apple-system, BlinkMacSystemFont, 'Creato Display',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.6s ease forwards;
}

.apple-pill {
  @apply inline-flex items-center justify-center
    px-4 py-1.5
    absolute top-3 left-3
    text-sm font-medium rounded-full select-none
    text-white transition-all duration-300;
  
  letter-spacing: -0.01em;
  background-color: #5F6E57;

  box-shadow:
    inset 0 0 0 0.5px rgba(255, 255, 255, 0.25),
    0 0 0 1px rgba(0, 0, 0, 0.10),
    0 1px 2px rgba(0, 0, 0, 0.10);
}

.apple-pill:hover {
  filter: brightness(1.06);
}

.apple-pill:active {
  filter: brightness(0.96);
  transform: translateY(0.5px);
}
